﻿@import "~bootstrap/scss/bootstrap";

$primary: #16958A;
$secondary: #75C483;
$tertiary: #C6E3C5;
$header-color: #0E5E66;
$out-of-bounds-color: #DBDBDB;

input {
  border: none;
  &:focus {
    border-color: $tertiary;
    outline-color: $tertiary;
  }
}
.row {
  padding-bottom: 10px;
}
html, .App {
  background: $out-of-bounds-color;
  text-align: center;
}
.container {
  background: white;
  height: 100%;
  padding: 0;
}
hr {
  margin-top: 32px;
}
h1 {
  background: $primary;
  color: white;
}
h2 {
  color: $header-color;
}
h4 {
  float: left;
  width: 100%;
  span {
    float: left;
    color: $primary;
  }
}
.button-grid {
  display: inline-grid;
}
.remove-col {
  position: relative;
  right: 20px;
  margin: 0;
  padding: 0;
}
.current-list-header {
  margin-bottom: 20px;
  width: 100%;
  span {
    float: left;
  }
}
.unchecked-span {
  float: left;
  margin-top: 10px;
}
.current-list-col {
  padding-right: 50px;
}
.list-item {
  float: left;
  &.checked {
    text-decoration: line-through;
  }
}
.list-button {
  margin-bottom: 5px;
  background: $secondary;
  border: none;
  &:hover {
    background: $primary;
  } 
  &.active {
    background: $primary;
  }
}
.list {
  width: 70%;
  margin-top: 5px;
}
.add-list {
  background: none;
  color: black;
  border: none;
}
.add-list-icon {
  color: $secondary;
  &:hover {
    cursor: pointer;
  }
}
.add-item-icon {
  color: $secondary;
  &:hover {
    cursor: pointer;
  }
}
.check-col {
  align-self: center;
  padding-right: 0;
}
.check-item {
  margin-right: 10px;
  float: left;
  margin-top: 5px;
}
.remove-item {
  float: right;
  &:hover {
    cursor: pointer;
  }
}